* { padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
ul { list-style-type: none;}
a {text-decoration: none; color: black;}

@font-face {
    font-family: 'square_r';
    src: url('../font/NanumSquare_acR.ttf');
}

@font-face {
    font-family: 'square_b';
    src: url('../font/NanumSquare_acB.ttf');
}

@font-face {
    font-family: 'square_eb';
    src: url('../font/NanumSquare_acEB.ttf');
}

@font-face {
    font-family: 'square_l';
    src: url('../font/NanumSquare_acL.ttf');
}

@font-face {
    font-family: 'gmarket_m';
    src: url('../font/GmarketSansTTFMedium.ttf');
}

@font-face {
    font-family: 'gmarket_l';
    src: url('../font/GmarketSansTTFLight.ttf');
}


body {
    overflow-x: hidden;
}

.main_wrap {
    width: 100%;
    position: relative;
}

.main_wrap2 {
    width: 1920px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}


/* 헤더 */
/* 헤더 전체 */

#top { /* changed */
	position: relative;
	margin: 0 auto;
	width: 1200px;
    height: 100px;
    /* outline: 1px solid red; */
}



#top .logo { /* changed */
	position: absolute;
	left: 30px;
	top: 32px;
	z-index: 10000;
}
#top .logo a { /* changed */
	display: block;
	padding: 0 30px;
	line-height: 62px;
}
#top nav {
	position: absolute;
	left: -50%; /* changed */
	top: 0;
	z-index: 9999;
	width: 215%; /* changed */
	font-size: 0.875em;
	background-color: #fff;
}
#top nav > .depth1 {
	position: relative;
	text-align: center;
	height: 100px;
	overflow: hidden;
	transition: height 0.4s;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    font-size: 16px;
}
#top nav > .depth1::after {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 1px;
	background-color: #eaeaea;
}
#top nav > .depth1:hover {
	height: 340px;
}
#top nav > .depth1:hover::after {
	display: block;
}
#top nav > .depth1 > li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
#top nav > .depth1 > li > a {
	display: block;
	padding: 0 30px;
	line-height: 108px;
	text-align: center;
	background-color: #fff;
	transition: background-color 0.3s;
}
#top > nav > .depth1 > .sub a {
	display: block;
	line-height: 40px;
	background-color: #fff;
}
#top nav > .depth1 > li:hover > a {
	/* background-color: #f4f4f48e; */
}

.sub > li:first-child {
    padding-top: 24px;
}

.sub > li {
    padding-top: 20px;
    /* outline: 1px solid red; */
    font-size: 13px;
}

.sub {
    padding-bottom: 50px;
    /* outline: 1px solid red; */
}

/* nav 악센트 */
.accent {
    width: 100px; height: 4px;
	background-color: #7a6759;
    position: absolute;
    top: 72px;
    left: 500px;
    display: none;
    transition-duration: 0.4s;
}







/* 콘텐츠1 */
/* #content1 {
    width: 1920px; height: 827px; margin: 0 auto;
    outline: 1px solid burlywood;
    background-image: url('../img/이미지\ 1_2.png');
    position: relative;
    text-align: center;
}

#content1 > .title {
    padding: 65px 0 50px 0;
}

#content1 > .title > p {
    font-family: 'square_b','나눔고딕';
    font-size: 30px;
}

#content1 > .title > p > span {
    font-family: 'square_b','나눔고딕';
    font-size: 30px;
    color: #B5A189;
}

#content1 > .title > h1 {
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.line {
    width: 150px; height: 30px;
    border-bottom: 1px solid #B5A189;
    text-align: center;
    margin-left: 43.8%;
    margin-top: 15px;
}

#content1 > .title > h2 {
    margin-top: 55px;
    font-size: 26px;
    font-family: 'square_l','나눔고딕';
    color: rgb(117, 117, 117);
}


#content1 > .menu {
    width: 1015px; height: 360px;
    outline: 1px solid red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 345px;
}

#content1 > .menu > div {
    width: 208px; height: 255px;
    margin-right: 60px;
    margin-top: 103px;
    background-color:#EAE9E5;
    border-radius: 30px;
    outline: 1px solid red;
    float: left;  
}

#content1 > .menu > .m4 {
    margin-right: 0;
}


#content1 > .menu > div > img {
    width: 200px; height: 200px;
    margin-top: -110px;
}
#content1 > .menu > .m1 > img{
    width: 220px; height: 230px;
    margin-left: -5px;
    margin-top: -120px;
    margin-bottom: -20px;
}
#content1 > .menu > .m3 > img {
    width: 160px; height: 170px;
    margin-top: -80px;
} 
#content1 > .menu > .m4 > img {
    width: 180px; height: 180px;
    margin-top: -90px;
} 


#content1 > .menu > div > h1 {
    color: #B0AAA2;
    font-size: 20px;
    font-family: 'square_b','나눔고딕';
    margin-top: 15px;
}

#content1 > .menu > div > h2 {
    color: #B0AAA2;
    font-size: 12px;
    font-family: 'square_r','나눔고딕';
    margin-top: 10px;
}

#content1 > .menu > div > button {
    width: 120px; height: 26px;
    border-radius: 50px;
    font-size: 10px;
    background-color: #fff;
    border: none;

    margin-top: 38px;
}


#content1 > .pager {
    position: absolute;
    bottom: 40px;
    left: 560px;
}

/* 버튼 호버 */
/*#content1 > .menu > div > button:hover {
    background-color: #B0AAA2;
    color: #fff;
} */
/* pick */
#pick {
    /* outline: 1px solid red; */
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    height: 625px;
    margin-bottom: 50px;
    overflow: hidden;
  }
  
  #pick > h1{
    font-size: 40px;
    font-weight: bold;
    color: #7a6759;
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    /* outline: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
  }
  #pick .line {
    width: 150px; height: 30px;
    border-bottom: 1px solid #B5A189;
    text-align: center;
    margin-left: 43.5%;
    margin-top: -25px;
    margin-bottom: 10px;
}
  
  #pick > .grid {
    /* outline: 1px solid red; */
    width: 3594px;
  }
  
  #pick > .grid > li {
    position: relative;
    width: 277px;
    float: left;
    margin-right: 30px;
    transition: left 0.5s ease-out;
    
  }
  #pick > .grid > li:nth-child(4n) {
    margin-right: 0;
  }
  .grid-item-img{
      width: 300px;
      margin-left: 0px;
  }
  .grid-item-img img {
      width: 280px;
  }
  .grid-item-img .b1{
      margin-left: -5px;
  }
  .grid-item-img .b2{
    width: 270px;
    margin-bottom: 10px;
  }
  .grid-item-img .b3{
      width: 270px;
      margin-bottom: 10px;
  }
  .grid-item-img .b5{
    width: 260px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .grid-item-img .b6{
      width: 260px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 5px;
  }
  .grid-item-img .b7{
      width: 300px;
      margin-bottom: -20px;
      margin-left: -10px;
  }
  .grid-item-img .b8{
      width: 270px;
      margin-bottom: 10px;
  }
  .grid-item-img .b9{
      width: 270px;
      margin-bottom: 10px;
      margin-left: 5px;
  }
  .grid-item-img .b11{
      width: 250px;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  .grid-item-img .b12{
      width: 270px;
      margin-bottom: 10px;
      margin-left: -5px;
  }
  #pick .grid-item-txt {
    margin-top: 20px;
    text-align: center;
  }
  
  #pick .grid-item-txt > p:first-child {
    margin-bottom: 10px;
  }
  
  #pick .grid-item-txt .price {
    tab-size: 16px;
    color: #7a6759;
  }
  
  .pager {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pager > a {
    float: left;
    width: 12px;
    height: 12px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    text-indent: -9999px;
  }
  .pager > a.active {
    background: #7a6759;
  }

/* 콘텐츠2 */
#content2 {
    width: 1920px; height: 700px; margin: 0 auto;
    /* outline: 1px solid red; */
    background-image: url('../banner/대지\ 2.png');
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    /* margin-bottom: 150px; */
}
#content2 > .title > h1{
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 110px;
}
#content2 > .title > h1:first-child {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 100px;
    color: #fff;
    position: absolute;
    left: 100px;
}
#content2 > .title > h1:nth-child(2) {
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 100px;
    position: absolute;
    left: 100px;
    top: 90px;
    color: #e14e58;
}
#content2 > .title > h2{
    position: absolute;
    left: 100px;
    top: 300px;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #b47466;
}

/* #content2 > .title > h1 > span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
} */

/* #content2 > .title > .line {
    width: 180px; height: 30px;
    border-bottom: 1px solid #000000;
    text-align: center;
    margin-left: 45.2%;;
    margin-top: 20px;
} */

/* #content2 > .title > h2 {
    margin-top: 55px;
    font-size: 30px;
    font-family: 'square_l';
    font-weight: lighter;
} */


#content2 > .title > .button {
    width: 210px; height: 60px;
    margin-top: 60px;
    background-color: rgba(255, 222, 173, 0);
    font-size: 22px;
    border: 1px solid black;
    position: absolute;
    top: 320px;
    left: 100px;
}

#content2 > .title > .button:hover {
    background-color: #1F1B18;
    border: 1px solid #1F1B18;
    color: white;
}

/* 신메뉴 주스들 */
/* 주스1 */
#content2 > .new > .n1 > .shake-vertical > img {
    position: absolute;
    width: 380px;
    left: 330px;
    top: 330px;
}

#content2 > .new > .n1 > ul {
    position: absolute;
    top: 520px;
    left: 640px;
    font-size: 20px;
    text-align: start;
    color: #e14e58;
    
}


#content2 > .new > div > ul > li {font-family: 'Raleway', sans-serif;}
#content2 > .new > div > ul > li:nth-child(2) {
    color: #b47466;
    font-size: 24px;
    font-weight: 600;
}

/* 주스2 */
#content2 > .new > .n2 > .shake-vertical > img {
    position: absolute;
    width: 320px;
    /* right: 0px; */
    top: 350px;
    right: 350px;
}

#content2 > .new > .n2 > ul {
    position: absolute;
    top: 580px;
    right: 600px;
    text-align: end;
    color: #b47466;
    font-size: 24px;
    font-weight: 600;
}



/* 주스3 */
#content2 > .new > .n3 > .shake-vertical > img {
    position: absolute;
    width: 380px;
    right: 550px;
    top: 100px;
}


#content2 > .new > .n3 > ul {
    position: absolute;
    top: 350px;
    right: 880px;
    font-size: 20px;
    text-align: right;
    color: #e14e58;
}

/* 주스4 */
#content2 > .new > .n4 > .shake-vertical > img {
    position: absolute;
    width: 350px;
    right: 200px;
    top: 320px;
}
#content2 > .new > .n4 > ul {
    position: absolute;
    top: 560px;
    right: 100px;
    text-align: end;
    color: #b47466;
    font-size: 24px;
    font-weight: 600;
}
/* 주스5 */
#content2 > .new > .n5 > .shake-vertical > img {
    position: absolute;
    width: 300px;
    right: 200px;
    top: -20px;
}
#content2 > .new > .n5 > ul {
    position: absolute;
    top: 250px;
    right: 200px;
    text-align: end;
    color: #b47466;
    font-size: 24px;
    font-weight: 600;
}
/* 주스6 */
#content2 > .new > .n6 > .shake-vertical > img {
    position: absolute;
    width: 300px;
    right: 50px;
    top: 10px;
}


/* 콘텐츠3 */
#content3 {
    max-width: 1920px; 
    height: 600px; margin: 0 auto;
    text-align: center;
    position: relative;
}

#content3 > .bg {
    width: 1920px; height: 600px;
    position: relative;
}

/* #content3 > .bg > .trans {
    width: 1920px; height: 802px;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    top: 0;
} */


/* 콘텐츠3_title */
#content3 > .title {
    /* outline: 1px solid red; */
    position: absolute;
    top: 20px;
    left: 500px;
    text-align: left;
}

#content3 > .title > h1 {
    font-size: 70px;
    font-family: 'Century', sans-serif;
    font-weight: bold;
    padding-top: 100px;
    color: #966f5f;
}
#content3 > .title > p {
    color: #966f5f;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

/* #content3 > .title > h1 > span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #B5A189;
} */

/* #content3 > .title > .line {
    width: 150px; height: 30px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    margin-left: 43.8%;
    margin-top: 15px;
} */

#content3 > .title > h2 {
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    font-weight: lighter;
}


#content3 > .bg  button {
    width: 190px; height: 47px;
    margin-top: 50px;
    background-color: rgba(255, 222, 173, 0);
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    position: absolute;
    right: 400px;
    top: 410px;
}
#content3 > .bg  button:hover{
    background: #fff;
    color: #000;
}
#content3 > .title > .video {
    margin-top: 60px;
    position: absolute;
    left: 20px;
}



/* 콘텐츠4 */
#content4 {
    width: 1920px; height: 500px; margin: 0 auto;
    /* outline: 1px solid red; */
    background-image: url('../img/가맹안내.png');
}


#content4  > .trans {
    width: 960px; height: 500px;
    /* background-color: rgba(0, 0, 0, 0.692); */
    float: right;
    position: relative;
}


/* 콘텐츠4_타이틀 */
#content4 > .trans > .title {
    /* outline: 1px solid red; */
    width: 400px;
    height: 347px;
    text-align: center;
    position: absolute;
    left: 280px;
}

#content4 > .trans > .title > h1 {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 76px;
    color: white;
}

#content4 > .trans > .title > h3 {
    font-size: 42px;
    color: white;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}


#content4 > .trans > .title > h1 > span {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #B5A189;
}

#content4 > .trans > .title > .line {
    width: 150px; height: 30px;
    border-bottom: 1px solid #fff;
    margin-left: 32%;
}

#content4 > .trans > .title > h2 {
    margin-top: 40px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'square_l', '나눔고딕';
    color: white;
    font-weight: lighter;
}


#content4 > .trans > .title > button {
    width: 190px; height: 47px;
    margin-top: 50px;
    background-color: rgba(255, 222, 173, 0);
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

#content4 > .trans > .title > button:hover {
    background-color: #fff;
    color: black ;
}


/* 푸터 */
#footer {
    position: relative;
    text-align: center;
    overflow: hidden;
    background: #252525;
    background-size: cover;
    width: 100%; height: 350px;
    color: rgb(150, 145, 145);
    font-size: 12px;
}
.footer_container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-size: 12px;
}


.footer_menu > li {
    display: inline-block;
    margin-right: 80px;
}


.footer_menu > li > a {
    color: rgb(150, 145, 145);
    font-size: 13px;
}

.sns {
    position: absolute;
    right: 0;
    top: 17px;
}

.sns > li {
    display: inline-block;
}

.sns > li > a > img {
    width: 20px;
    margin-left: 4px;
    
}



.footer_line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
}


.footer_container2 {
    width: 1200px; margin: 0 auto;
    /* outline: 1px solid red; */
    text-align: center;
}

.footer_logo {
    width: 50px;
    margin-top: 45px;
    margin-bottom: 20px;
}

.footer_text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 12px;
}


.copy {
    padding-bottom: 30px;
}


/* 애니메이션 */
.shake-vertical {
	-webkit-animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite forwards;
	        animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-24 21:15:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.m1 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m2 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m3 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m4 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m5 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m6 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.m7 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}
.m8 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}
.m9 > img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}




/* sub1_1 Brand Story */
/* title */
#sub_title {
    width: 1920px; height: 400px; margin: 0 auto;
    /* background-color: red; */
    background-image: url('../img/sub1.jpg');
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#sub_title > h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 46px;
    padding-top: 140px;
}

#sub_title > h2 {
    font-size: 26px;
    font-weight: lighter;
    padding-top: 35px;
}

#sub_title > h2 > span {
    font-weight: bold;
}

/* nav */
#sub_nav {
    width: 1920px; height: 65px; margin: 0 auto;
    border-bottom: 1px solid #b6b6b6;
    /* text-align: center; */
    position: relative;
}

#sub_nav > ul {
    /* outline: 1PX solid red; */
    position: absolute;
    left: calc(100%/2.5);
    top: 20px;
}

#sub_nav > ul > li {
    float: left;
    margin-right: 60px;
    /* padding-bottom: 15px;
    border-bottom: 4px solid red; */
}

#sub_nav > ul > li:last-child {
    margin-right: 0px;
}

#sub_nav > ul > li > a {
    font-size: 15px;
}



/* 컨텐츠 */
#sub1_1content {
    width: 1200px; margin: 0 auto;
    margin-bottom: 100px;
    /* outline: 1px solid red; */
}

#sub1_1content > .title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

#sub1_1content > .title > h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
}

#sub1_1content > .title > h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    margin-top: 20px;
}


/* t1 */
.t1 {
    /* outline: 1px solid red; */
    position: relative;
}

.t1 > div {
    width: 520px; height: 250px;
    display: inline-block;
    padding-left: 30px;
    position: absolute;
    
}

.t1 > div > h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.t1 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 24px;
}

.t1 > div > h3{
    /* outline: 1px solid; */
    margin-top: 100px;
    margin-left: 210px;
}

.t1 > div > h1 > span {
    color: #7a6759;
    
}
.t1 > div > button {
    background-color: rgba(102, 51, 153, 0);
    border: 1px solid #000;
    margin-top: 100px;
    position: absolute;
    right: 0;
}



/* t2 */
.t2 { 
    position: relative;
    margin-top: 80px;
}
.t2 > div {
    /* outline: 1px solid red; */
    width: 520px; height: 380px;
    display: inline-block;
    padding-top: 20px;
}

.t2 > div > h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: -20px;
}

.t2 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
    line-height: 24px;
}

.t2 > div > button {
    background-color: rgba(102, 51, 153, 0);
    border: 1px solid #000;
    margin-top: 100px;

}

.t2 > img {
    display: inline-block;
    position: absolute;
    right: 0;
}

.t2 > div > h1 > span {
    color: #7a6759;
}



/* t3 */
.t3 {
    /* outline: 1px solid red; */
    position: relative;
    margin-top: 80px;
}

.t3 > div {
    width: 520px; height: 250px;
    display: inline-block;
    padding-left: 30px;
    position: absolute;
}

.t3 > div > h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.t3 > div > h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px;
    line-height: 24px;
}

.t3 > div > button {
    background-color: rgba(102, 51, 153, 0);
    border: 1px solid #000;
    margin-top: 100px;
    position: absolute;
    right: 0;
}

.t3 > div > h1 > span {
    color: #7a6759;
}


/* 버튼 hover */
#sub1_1content > .text > div > div > button:hover{
    background-color: #1F1B18;
    color: white;
}



#sub1_2content {
    width: 1200px; height: 2892px; margin: 0 auto;
    /* outline: 1px solid red; */
}
#sub1_2content > .title{
    position: relative;
}
#sub1_2content > .title img {
    margin-top: 100px;
    text-align: right;
    margin-left: -10px;
    /* position: absolute; */
    /* left: -80px; */
    /* left: 50%; 
    transform: translateX(50%); */
}

#sub1_2content > .title > h1 {
    font-size: 70px;
    font-family: 'Century', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 170px;
}
.what_title{
    position: absolute;
    right: 200px;
    top: 50px;
    color: #7a6759;
}

#sub1_2content > .title > h2:nth-child(3) {
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    margin-top: 140px;
    left: 600px;
    top: 200px;  
}
#sub1_2content > .title > h2:nth-child(4) {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    margin-top: 140px;
    left: 600px;
    top: 250px;  
}
.blending{
    text-align: center;
}
.blending h1 {
    font-size: 50px;
    color: #7a6759;
    margin-top: 80px;
    font-family: 'Noto Sans KR', sans-serif;
}
.blending h2{
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
}
.blending_925{
    width: 1200px; height: 980px;
    position: relative;
    background: #B5A189;
    margin-top: 50px;
    border-radius: 20px;
    
}
.blending_925 .box1 {
    width: 1000px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 50px;
    background: #ffffff;
    border-radius: 20px;
}
.blending_925 .box1 .icon_1{
    position: absolute;
    width: 280px;
    top: -50px;
    left: 0px;
}
#icon_p1{
    position: absolute;
    font-size: 24px;
    top: 60px;
    left: 250px;
    color: #7a6759;
}
.blending_925 .box2 {
    width: 1000px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 280px;
    background: #ffffff;
    border-radius: 20px;
}
.blending_925 .box2 .icon_2{
    position: absolute;
    width: 280px;
    top: -40px;
    left: 10px;
}
#icon_p2{
    position: absolute;
    font-size: 24px;
    top: 70px;
    left: 250px;
    color: #7b5229;
}

.blending_925 .box3 {
    width: 1000px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 510px;
    background: #ffffff;
    border-radius: 20px;
}
.blending_925 .box3 .icon_3{
    position: absolute;
    width: 300px;
    top: -60px;
    left: -15px;
}
#icon_p3{
    position: absolute;
    font-size: 24px;
    top: 60px;
    left: 250px;
    color: #7b5229;
}
.blending_925 .box4 {
    width: 1000px;
    height: 180px;
    position: absolute;
    left: 100px;
    top: 740px;
    background: #ffffff;
    border-radius: 20px;
}
.blending_925 .box4 .icon_4{
    position: absolute;
    width: 300px;
    top: -50px;
    left: -10px;
}
#icon_p4{
    position: absolute;
    font-size: 24px;
    top: 60px;
    left: 250px;
    color: #7b5229;
}
.b_r{
    text-align: center;
    
}
.b_r h1{
    font-size: 50px;
    color: #7b5229;
    margin-top: 80px;
    font-family: 'Noto Sans KR', sans-serif;
}
.b_r h2{
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -10px;
}
#black{
    /* position: absolute; */
    width: 500px;
    margin-bottom: 30px;
}
#red{
    width: 500px;
    margin-bottom: 30px;
}

/* 지도 */
.map_wrap {
    width: 100%; margin: 0 auto;
    position: relative;
}

.map_wrap > iframe {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

/* sub1_3 */
#sub1_3content {
    width: 1200px; height: 1050px; margin: 0 auto;
    /* outline: 1px solid red; */
}
#sub1_3content > .title{
    position: relative;
    text-align: center;
    margin-top: 80px;
}
#sub1_3content > .title h1{
    font-size: 48px;
    color: #7a6759;
    margin-bottom: 20px;
}
#sub1_3content > .title img {
    margin-top: 100px;
    text-align: right;
    margin-left: -10px;
    /* position: absolute; */
    /* left: -80px; */
    /* left: 50%; 
    transform: translateX(50%); */
}

/* 지도 설명 */
.map_text {
    width: 1000px; height: 240px;
    /* outline: 1px solid red; */
    position: absolute;
    left: 100px;
    top: 720px;
}


.map_text ul li:nth-child(2),
.map_text ul li:nth-child(3) {
    line-height: 30px;
}

/* 상세 정렬 */
.map_text ul {
    float: left;
    width: 32%;
}

.map_text ul:nth-child(2) {
   position: absolute;
   left: 450px;
}

.map_text ul:nth-child(3) {
    position: absolute;
    left: 790px;
}

.map_text ul li:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-bottom: 13px;
}

.map_text ul li:nth-child(1) span {
    position: absolute;
    top: 3px;
    left: 32px;
}

.map_text ul:nth-child(3) li:nth-child(1) span {
    position: absolute;
    top: -1px;
    left: 32px;
}



/* sub2_1 New */
/* nav */
#sub_nav3 {
    width: 1920px; height: 65px; margin: 0 auto;
    border-bottom: 1px solid #b6b6b6;
    /* text-align: center; */
    position: relative;
}

#sub_nav3 > ul {
    /* outline: 1PX solid red; */
    position: absolute;
    left: 760px;
    top: 20px;
}

#sub_nav3 > ul > li {
    float: left;
    margin-right: 60px;
    /* padding-bottom: 15px;
    border-bottom: 4px solid red; */
}

#sub_nav3 > ul > li:last-child {
    margin-right: 0px;
}

#sub_nav3 > ul > li > a {
    font-size: 15px;
}



/* 콘텐츠 */
#content2_1 {
    width: 1920px; height: 1780px; margin: 0 auto;
    /* outline: 1px solid burlywood; */
    /* background-image: url('../img/이미지\ 1_2.png'); */
    position: relative;
    text-align: center;
    margin-top: 50px;
}

#content2_1 > .title {
    padding: 65px 0 50px 0;
}

#content2_1 > .title > p {
    font-family: 'square_b';
    font-size: 50px;
    font-weight: 700;
    margin-top: -20px;
}

#content2_1 > .title > p > span {
    /* font-family: 'square_b'; */
    font-size: 50px;
    color: #7a6759;
}

#content2_1 > .title > h1 {
    font-size: 42px;
    font-family: 'square_b';
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}

.line {
    width: 150px; height: 30px;
    border-bottom: 1px solid #B5A189;
    text-align: center;
    margin-left: 46%;
    margin-top: 15px;
}

#content2_1 > .title > h2 {
    margin-top: 55px;
    font-size: 26px;
    font-family: 'square_l','나눔고딕';
    color: rgb(117, 117, 117);

}

#content2_1 > .menu > div > button {
    width: 120px; height: 26px;
    border-radius: 50px;
    font-size: 10px;
    background-color: #fff;
    border: none;

    margin-top: 38px;
}


/* 버튼 호버 */
#content2_1 > .menu > div > button:hover {
    background-color: #B0AAA2;
    color: #fff;
}


/* sub2_1 주스들 */
/* 주스1 */
#content2 > .new2 > .n1 > .shake-vertical > img {
    position: absolute;
    width: 500px;
    left: 200px;
    top: -120px;
}

#content2 > .new2 > .n1 > ul {
    position: absolute;
    top: 530px;
    left: 580px;
    font-size: 16px;
    text-align: start;
}


#content2 > .new2 > div > ul > li {font-family: 'gmarket_m';}
#content2 > .new2 > div > ul > li:nth-child(2) {
    color: #E9B949;
}

/* 주스2 */
#content2 > .new2 > .n2 > .shake-vertical > img {
    position: absolute;
    /* right: 0px; */
    width: 450px;
    top: -128px;
    right: 350px;
}

#content2 > .new2 > .n2 > ul {
    position: absolute;
    top: 540px;
    right: 650px;
    font-size: 18px;
    text-align: end;
}



/* 주스3 */
#content2 > .new2 > .n3 > .shake-vertical > img {
    position: absolute;
    width: 480px;
    right: 180px;
    top: -40px;
}


#content2 > .new2 > .n3 > ul {
    position: absolute;
    top: 610px;
    right: 570px;
    font-size: 18px;
    text-align: end;
}





#content2_1 > .menu {
    width: 1200px; height: 1300px;
    /* outline: 1px solid red; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 345px;
    background: #EAE9E5;
    border-radius: 20px;
    margin-top: 40px;
}

#content2_1 > .menu > div {
    width: 208px; height: 300px;
    margin-right: 60px;
    margin-top: 103px;
    background-color:#fff;
    border-radius: 30px;
    /* outline: 1px solid red; */
    float: left;  
}
#content2_1 > .menu > .m1,
#content2_1 > .menu > .m5,
#content2_1 > .menu > .m9{
    margin-left: 90px;
}
#content2_1 > .menu > .m4,
#content2_1 > .menu > .m8 {
    margin-right: 0;
}


#content2_1 > .menu > div > img {
    width: 200px; height: 200px;
    margin-top: -110px;
}

#content2_1 > .menu > .m3 > img, 
#content2_1 > .menu > .m4 > img {
    width: 170px; height: 170px;
    margin-top: -90px;
} 


#content2_1 > .menu > div > h1 {
    color: #B0AAA2;
    font-size: 20px;
    font-family: 'square_b','나눔고딕';
    margin-top: 15px;
}

#content2_1 > .menu > div > h2 {
    color: #B0AAA2;
    font-size: 12px;
    font-family: 'square_r','나눔고딕';
    margin-top: 10px;
}





#content2_1 > .menu > div:nth-child(5),
#content2_1 > .menu > div:nth-child(6),
#content2_1 > .menu > div:nth-child(7),
#content2_1 > .menu > div:nth-child(8),
#content2_1 > .menu > div:nth-child(9) {
    margin-top: 100px;
}

#content2_1 > .menu > div:nth-child(1),
#content2_1 > .menu > div:nth-child(2),
#content2_1 > .menu > div:nth-child(3),
#content2_1 > .menu > div:nth-child(4),
#content2_1 > .menu > div:nth-child(5),
#content2_1 > .menu > div:nth-child(6),
#content2_1 > .menu > div:nth-child(7),
#content2_1 > .menu > div:nth-child(8),
#content2_1 > .menu > div:nth-child(9) {
    margin-top: 110px;
}











  